<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="CTolenk" />
    <title>ImageRealTime</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  	<link href="css/style.css" rel="stylesheet">


    <script type="text/javascript" src="js/jquery.min.js"></script>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

          
     <script>
      //var socket = io();
      /*var usuario = prompt("Escribe tu nombre!", "Incognito");
      if (usuario != null) {
        socket.emit('new user', usuario);
      }*/
     //var usuario = {{usuario | json_encode | safe }};
     /*socket.emit('new user', usuario);

      $('#form').submit(function(event){

        socket.emit('chat message', { usuario : usuario, mensaje : $('#message').val() });
        $('#message').val('');
        return false;
      });

        socket.on('chat message', function(msg){

            $('#cuerpo-chat').append($('<li>').html('<strong>'+msg.usuario+'</strong>: '+msg.mensaje));
        });

        socket.on('new user', function(usuarios){
            $('#cuerpo-online').html('');
            $.each(usuarios, function(i, usuario){
                $('#cuerpo-online').append($('<li>').text(usuario));
            });
        }); */

    </script>
</body>
</html>
