{% extends 'layout-main.html' %}


{% block content %}
<div class="col-md-10 container-upload">
  <h1>Subir Imagenes</h1>
      <form enctype="multipart/form-data" role="form" action="/upload" method="POST">
          <div class="form-group">
            <input type="text" id="nombre" name="nombre" class="form-control">
            <input type="file" id="miarchivo" name="miarchivo" class="form-control">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button class="btn btn-default" type="reset">Reset</button>
          </div>
      </form>
</div>






{% endblock %}
